/* minimal 5 class/selector*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}
.bg-lavender {
    background-color: #41213e;
}

#experiences,
#award {
    padding: 40px;
    text-align: center;
}
#experiences h1 {
    color: white;
    margin-bottom: 24px;
}

#award {
    color: #41213e;
}

.award-detail {
    border: 3px solid #41213e;
    border-radius: 8px;
    padding: 40px;
    margin-top: 40px;
}

.navbar-brand, h1 {
    font-family: 'Pacifico', cursive;
}
